@using UniformProjectOmar.Models
@inject IJSRuntime JS

@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color:rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar movimiento</h5>
                    <button type="button" class="btn-close" @onclick="OnCloseClicked"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@Movimiento" OnValidSubmit="OnSaveClicked">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label>Emlpeado</label>
                            <InputSelect class="form-control" @bind-Value="Movimiento.IdEmpleado">
                                <option value="0">-- Seleccione --</option>
                                @if (Empleados != null)
                                {
                                    foreach (var empleado in Empleados)
                                    {
                                        <option value="@empleado.Id">@empleado.NombreEmpleado</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="() => Movimiento.IdEmpleado" />
                        </div>

                        <div class="mb-3">
                            <label>Artículo</label>
                            <InputSelect class="form-control" @bind-Value="Movimiento.IdArticulo">
                                <option value="0">-- Seleccione --</option>
                                @if (Articulos != null)
                                {
                                    foreach (var articulo in Articulos)
                                    {
                                        <option value="@articulo.Id">@articulo.Descripcion</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="() => Movimiento.IdArticulo" />
                        </div>

                        <div class="mb-3">
                            <label>Talla</label>
                            <InputSelect class="form-control" @bind-Value="Movimiento.Talla">
                                <option value="">-- Seleccione --</option>
                                <option value="NA">No Aplica</option>
                                <option value="XS">Extra Chica</option>
                                <option value="S">Chica</option>
                                <option value="M">Mediana</option>
                                <option value="L">Grande</option>
                                <option value="XL">Extra Grande</option>
                            </InputSelect>
                            <ValidationMessage For="() => Movimiento.Talla" />
                        </div>

                        <div class="mb-3">
                            <label>Cantidad</label>
                            <InputNumber class="form-control" @bind-Value="Movimiento.Cantidad" />
                            <ValidationMessage For="() => Movimiento.Cantidad" />
                        </div>

                        <button class="btn btn-success" type="submit">Guardar</button>
                        <button class="btn btn-secondary ms-2" type="button" @onclick="OnCloseClicked">Cancelar</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}